# List

* iteration operation with loop
* apply any operation on element

In [9]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Usama']

print(names)

['Sir Zia', 'Muhammad Qasim', 'Usama']

In [10]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Usama']

for name in names:
    print(name)

# Sir Zia
# Muhammad Qasim
# Usama

Sir Zia
Muhammad Qasim
Usama

In [11]:
for(i=0; i<names.length; i++){
    names[i]
}

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1953723622.py, line 1)

In [8]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Usama']

i: int = 0

while i<len(names):
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
Usama

In [13]:
data_base: list[tuple[str, str]] = [('qasim', '123'), ('sirzia', '345'), ('ikhlas', '789')]

for row in data_base:
    print(row)

('qasim', '123')
('sirzia', '345')
('ikhlas', '789')

In [14]:
data_base: list[tuple[str, str]] = [('qasim', '123'), ('sirzia', '345'), ('ikhlas', '789')]

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
sirzia 345
ikhlas 789

In [16]:
data_base: list[tuple[str, str]] = [('qasim', '123'), ('sirzia', '345'), ('ikhlas', '789')]

user_input: str = input("Enter user name")
print(user_input)

for row in data_base:
    user, password = row
    print(user, password)

Enter user name Usama

Usama
qasim 123
sirzia 345
ikhlas 789

In [19]:
data_base: list[tuple[str, str]] = [('qasim', '123'), ('sirzia', '345'), ('ikhlas', '789')]

user_input: str = input("Enter user name")
password_input: str = input("Enter user password")

for row in data_base:
    user, password = row
    if user_input == user and password_input == password:
        print("Valid user")
        break
else:
    print("User not found or invalid user")

Enter user name qasim
Enter password 123

Valid user

# Numbers with loop