## Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [4]:
!conda install lxml -y

Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Netever\anaconda3\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxml2-2.13.5             |       h24da03e_0         2.9 MB
    lxml-5.3.0                 |  py312h395c83e_1         1.1 MB
    ------------------------------------------------------------
                                           Total:         4.0 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_3
  libxml2            pkgs/main/win-64::libxml2-2.13.5-h24da03e_0
  libxslt            pkgs/main/win-64::libxslt-1.1.41-h0739af5_0
  lxml               pkgs/main/win-64::lxml-5.3.0-py312h395c83e_1



Downloading and Extracting Packages: ...working...
libxml2-2.13.5       | 2.9 MB    |            |   0%

lxml-5.3.0           | 1.1 MB    |            |   0%

lxml-5.3.0           | 1.1 MB    | ##4        |  25%
libxml2-2.13.5       | 2.9 MB    | #2         |  12%

lxml-5.3.0           | 1.1 MB    | ####9      |  49%
libxml2-2.13.5       | 2.9 MB    | ##2        |  23%

lxml-5.3.0           | 1.1 MB    | ######8    |  69%
libxml2-2.13.5       | 2.9 MB    | ###        |  30%

lxml-5.3.0           | 1.1 MB    | ########5  |  85%
libxml2-2.13.5       | 2.9 MB    | ###6       |  37%
libxml2-2.13.5       | 2.9 MB    | ####3      |  44%

lxml-5.3.0           | 1.1 MB    | ########## | 100%

lxml-5.3.0           | 1.1 MB    | ########## | 100%
libxml2-2.13.5       | 2.9 MB    | #####5     |  55%
libxml2-2.13.5       | 2.9 MB    | ######5    |  66%

lxml-5.3.0           | 1.1 MB    | ########## | 100%
libxml2-2.13.5       | 2.9 MB    | #######6   |  77%
libxml2-2.13.5       | 2.9 MB    | ########8  |  88%
libxml2-2.13.5       | 2.9 MB    | #########8 |  99%
libxml2-2.13.5       | 2.9 MB    | ########## | 100%
libxml2-2.13.5       | 2.9 MB    | ########## | 100%



                                                      done
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [1]:
!pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp') 
table[0]

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [1]:
a : int = 7
b : int = 2

print(a + b)  # addition
print(a - b)  # subtraction
print(a * b)  # multiplication
print(a / b)  # division

9
5
14
3.5

In [2]:
a : int = 11
b : int = 3

print(a % b)

2

In [6]:
print(2**2)
print(2**3)

4
8

In [ ]:
print(12 / 3)

4.0

In [ ]:
print(14.8 / 3)

4.666666666666667

In [10]:
print(14.8 // 3)

4.0

In [9]:
print(14 // 3)

4

## Python Assignment Operators

In [11]:
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [ ]:
# :=

In [13]:
a: int = 7
print(b := 7)

7

In [ ]:
# = assign
a : int = 7
b : int = 2

In [ ]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

In [ ]:
# +=
a : int = 7
print(a)
a += 2
print(a)

In [ ]:
# +=
a : int = 7
print(a)
a += 2
print(a)

## Python Comparison Operators

In [12]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [ ]:
a: int = 7
b: int = 10

print(a == b)
#  a == b
# 7 == 10
# False

False

In [15]:
a: int = 7
b: int = 7

print(a == b)
#  a == b
# 7 == 10
# True

True

In [16]:
a: int = 7
b: str = '7'

print(a == b)
#  a == b
# 7 == 10
# True

False

### === not concept in python

In [ ]:
# !=
a: int = 7
b: int = 7

print(a != b)
# a == b
# 7 == 7
# False

False

In [ ]:
a: int = 7
b: int = 8

print(a > b)
# a > b
# 7 > 8
# False

In [20]:
a: int = 7
b: int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [19]:
a: int = 10
b: int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [18]:
a: int = 10
b: int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [21]:
# !=
a: int = 2
b: int = 7

print(a >= b)

False

In [22]:
# !=
a: int = 7
b: int = 7

print(a >= b)

True

In [23]:
# !=
a: int = 7
b: int = 7

print(a => b)

SyntaxError: invalid syntax (3898096235.py, line 5)

ASCII Code

A = 65
B = 66
Z = 90

a = 97
a = 98
z = 122

0 = 48
9 = 57

In [4]:
ord('A')

65

In [5]:
chr(65)

'A'

In [10]:
# !=
a: str = 'A'
b: str = 'B'

print(b >= a)

True

In [11]:
# !=
a: str = 'A'
b: str = 'a'

print(b >= a)

True

## Python Logical Operator

In [18]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [21]:
# and important
# or = optional
# 1        2        3        4
print(True and True and True and True)
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [23]:
# and important
# or = optional
# 1        2        3        4
print(True or True or True or True)
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

In [24]:
not True

False

In [ ]:
name: str = "Usama"
print(not name == "Usama")
# name == "Usama"
# "Usama" == "Usama"
# True

In [ ]:
name: str = "Usama"
print(name != "Usama")
# name == "Usama"
# "Usama" == "Usama"

## Python Identity Operators

In [3]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [2]:
x: str = 'abc'
z: str = 'abc'

print(id(x))
print(id(z))

140730360005352
140730360005352

In [3]:
x is z

True

In [4]:
x: str = 'abc'
z: str = 'abc'

print(id(x))
print(id(z))

x is not z

140730360005352
140730360005352

False

In [6]:
i: str = 'abc'
j: str = 'xyz'

print(id(i))
print(id(j))

i is j

140730360005352
1947869439456

False

## Python Membership Opeartors

In [7]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [11]:
names: list[str] = [chr(i) for i  in range(65, 91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [12]:
names: list[str] = [chr(i) for i  in range(65, 91)]

"D" in names

True

In [13]:
names: list[str] = [chr(i) for i  in range(65, 91)]

"Pakistan" in names

False

In [14]:
names: list[str] = [chr(i) for i  in range(65, 91)]

"D" not in names

False

In [12]:
names: list[str] = ['Usama', 'Israr', 'Qasim', 'Zia']

uinput = input('Enter your name')

# print('hello ' + uinput)

uinput not in names

True

<img src='https://camo.githubusercontent.com/181f5a5bbf1e00da2c8e77fea14ecf691d9cd1e6840e6d265cb68136fd277a26/68747470733a2f2f6c6561726e696e676d6f6e6b65792e696e2f77702d636f6e74656e742f75706c6f6164732f323032312f30352f4f70657261746f722d507265636564656e63652d616e642d4173736f6369617469766974792d696e2d507974686f6e2e6a7067'/>

# PEMDAS

In [13]:
print(3 + 2 - 2 * 4 / 2 + 2)
#     3 + 2 - 8 / 2 + 2
#     3 + 2 - 4 + 2
#     7 - 4
#     3

3.0

In [16]:
print((6 + 3) - (6 + 3))

0

In [17]:
universe_age = 14_000_000_000
print(universe_age)

14000000000

In [ ]:
#unzip
# 0  1  2    0     1   2
a, b, c = 'usama', 7, 4.0

print(a)
print(b)
print(c)

usama
7
4.0

In [19]:
'usama', 7, 4.0

('usama', 7, 4.0)

In [ ]:
a, b, c = 'usama', 7, 4.0

print(a)
print(b)
print(c)

In [20]:
data = ('usama', 7, 4.0)
print(data[0], data[1], data[2])

usama 7 4.0

In [15]:
data = ('usama', 7, 4.0)
print(*data)

usama 7 4.0

In [21]:
2 * 2
"a" * 3

'aaa'

In [ ]:
# ggdfgdgdg


# jsjdfgjh
# jsdfhjgh
# jdgfjhks
# dfd

# Walrus Operator

In [23]:
a: int = 5

In [24]:

if(a < (b := a + 5)):
    print(b)
else:
    print('else is working')

10

In [17]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!