In [2]:
!pip install pandera

Collecting pandera
  Downloading pandera-0.24.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\netever\anaconda3\envs\python12\lib\site-packages (from pandera) (24.2)
Collecting pydantic (from pandera)
  Downloading pydantic-2.11.7-py3-none-any.whl.metadata (67 kB)
Collecting typeguard (from pandera)
  Downloading typeguard-4.4.3-py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: typing_extensions in c:\users\netever\anaconda3\envs\python12\lib\site-packages (from pandera) (4.12.2)
Collecting typing_inspect>=0.6.0 (from pandera)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\netever\anaconda3\envs\python12\lib\site-packages (from typing_inspect>=0.6.0->pandera) (1.0.0)
Collecting annotated-types>=0.6.0 (from pydantic->pandera)
  Downloading annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.33.2 (from pydantic->pandera)
  Downloading pydantic_core-2.33.2-cp312-cp312-win_amd64.whl.metadata (6.9 kB)
Collecting typing-inspection>=0.4.0 (from pydantic->pandera)
  Downloading typing_inspection-0.4.1-py3-none-any.whl.metadata (2.6 kB)
Collecting typing_extensions (from pandera)
  Downloading typing_extensions-4.14.0-py3-none-any.whl.metadata (3.0 kB)
Downloading pandera-0.24.0-py3-none-any.whl (267 kB)
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading pydantic-2.11.7-py3-none-any.whl (444 kB)
Downloading pydantic_core-2.33.2-cp312-cp312-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   --------------------- ------------------ 1.0/2.0 MB 4.2 MB/s eta 0:00:01
   -------------------------------- ------- 1.6/2.0 MB 3.4 MB/s eta 0:00:01
   ------------------------------------- -- 1.8/2.0 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 2.6 MB/s eta 0:00:00
Downloading typeguard-4.4.3-py3-none-any.whl (34 kB)
Downloading typing_extensions-4.14.0-py3-none-any.whl (43 kB)
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading typing_inspection-0.4.1-py3-none-any.whl (14 kB)
Installing collected packages: typing_extensions, annotated-types, typing-inspection, typing_inspect, typeguard, pydantic-core, pydantic, pandera
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.12.2
    Uninstalling typing_extensions-4.12.2:
      Successfully uninstalled typing_extensions-4.12.2
Successfully installed annotated-types-0.7.0 pandera-0.24.0 pydantic-2.11.7 pydantic-core-2.33.2 typeguard-4.4.3 typing-inspection-0.4.1 typing_extensions-4.14.0 typing_inspect-0.9.0

In [3]:
import pandas as pd
import pandera as pa

# Pandas core components

* Series Types
* DataFrame Types

In [4]:
l1: list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# list we can use for creating series

s1: pd.Series = pd.Series([1, 2, 3, 4, 5])

s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# set we can use for creating series

s1: pd.Series = pd.Series({1, 2, 3, 4, 5})

s1

TypeError: 'set' type is unordered

In [8]:
# tuple we can use for creating series

s1: pd.Series = pd.Series((1, 2, 3, 4, 5))

s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
# dictionary we can use for creating series

s1: pd.Series = pd.Series({"a": 1,
                           "b": 20,
                           "c": 30,
                           "d": 40,
                           "e": 50,
                           "f": 60,
                           "g": 70,
                           "h": 80})

s1

a     1
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int64

In [10]:
values: list[int] = [1, 2, 3, 4, 5]
index1: list[str] = ["a", "b", "c", "d", "e"]

s1: pd.Series = pd.Series(values, index=index1)

s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
values: list[int] = [1, 2, 3, 4, 5]
index1: list[list[str]] = [["a1", "a1", "a1", "b1", "b1"], ["a", "b", "c", "d", "e"]]

s1: pd.Series = pd.Series(values, index=index1, name = "Student_data")

s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
Name: Student_data, dtype: int64

In [12]:
import numpy as np

values: list[int] = [1, 2, 3, 4, 5]
index1: list[list[str]] = [["a1", "a1", "a1", "b1", "b1"], ["a", "b", "c", "d", "e"]]

s1: pd.Series = pd.Series(values, 
                          index=index1, 
                          name = "Student_data",
                          dtype=np.int32)

s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
Name: Student_data, dtype: int32

In [13]:
from nptyping import DataFrame, Structure as S

a: S[str] = pd.Series([1, 2, 3, 4])

InvalidArgumentsError: Unexpected argument of type <class 'type'>, expecting a string.

In [18]:
import pandas as pd
import pandera.pandas as pa

# data to validate

df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ['value_1', 'value_2', 'value_3', 'value_2', 'value_1']
})

# define schema
schema = pa.DataFrameSchema({
    'column1': pa.Column(int, checks=pa.Check.le(10)),
    'column2': pa.Column(float, checks=pa.Check.lt(-1.2)),
    'column3': pa.Column(str, checks=[
        pa.Check.str_startswith('value_'),
        
        # defines custom checks as functions that take a series as input 
        # and outputs a boolean or boolean Series
        
        pa.Check(lambda s: s.str.split('_', expand=True).shape[1] == 2)
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

## DataFrame

In [21]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5], name='student id')
s2: pd.Series = pd.Series([10, 20, 30, 40, 50], name='student score')
s3: pd.Series = pd.Series(['usama', 'qasim', 'talha', 'ali', 'zubair'], name='student name')

df1: pd.DataFrame = pd.DataFrame({'student id': s1, 'student score': s2, 'student name': s3})

df1

   student id  student score student name
0           1             10        usama
1           2             20        qasim
2           3             30        talha
3           4             40          ali
4           5             50       zubair

In [22]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5], name='student id')
s2: pd.Series = pd.Series([10, 20, 30, 40, 50], name='student score')
s3: pd.Series = pd.Series(['usama', 'qasim', 'talha', 'ali', 'zubair'], name='student name')

# key
# value: iterable
# length should be same as length of other series

df1: pd.DataFrame = pd.DataFrame({'student id': s1, 'student score': s2, 'student name': s3})

df1

   student id  student score student name
0           1             10        usama
1           2             20        qasim
2           3             30        talha
3           4             40          ali
4           5             50       zubair

In [23]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5], name='student id')
s2: pd.Series = pd.Series([10, 20, 30, 40, 50], name='student score')
s3: pd.Series = pd.Series(['usama', 'qasim', 'talha', 'ali', 'zubair'], name='student name')

df1: pd.DataFrame = pd.DataFrame([s1, s2, s3])

df1

                   0      1      2    3       4
student id         1      2      3    4       5
student score     10     20     30   40      50
student name   usama  qasim  talha  ali  zubair

In [25]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5], name='student id')
s2: pd.Series = pd.Series([10, 20, 30, 40, 50], name='student score')
s3: pd.Series = pd.Series(['usama', 'qasim', 'talha', 'ali', 'zubair'], name='student name')

df1: pd.DataFrame = pd.concat([s1, s2, s3], axis=1)

df1

   student id  student score student name
0           1             10        usama
1           2             20        qasim
2           3             30        talha
3           4             40          ali
4           5             50       zubair

In [26]:
data: list[list[int]] = [[1, 2, 3],
                         [4, 5, 6],
                         [7, 8, 9]]

df: pd.DataFrame = pd.DataFrame(data)

df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
data: list[list[int]] = [[1, 2, 3],
                         [4, 5, 6],
                         [7, 8, 9]]

df: pd.DataFrame = pd.DataFrame(data, columns=['A', 'B', 'C'])

df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [28]:
data: list[list[int]] = [[1, 2, 3],
                         [4, 5, 6],
                         [7, 8, 9]]

df: pd.DataFrame = pd.DataFrame(data, columns=['A', 'B', 'C'], index=['x', 'y', 'z'])

df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [30]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [31]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [32]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

https://pandera.readthedocs.io/en/stable/index.html

In [34]:
from nptyping import NDArray, Shape, UInt64
from typing import Any

data: NDArray[Shape['10, 10'], Any] = np.arange(10*10).reshape(10, 10)

data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [37]:
from nptyping import NDArray, Shape, UInt64
from typing import Any

data: NDArray[Shape['10, 10'], Any] = np.arange(10*10).reshape(10, 10)

df: pd.DataFrame = pd.DataFrame(data, columns=list('ABCDEFGHIJ'))

df

    A   B   C   D   E   F   G   H   I   J
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [39]:
df1: list[pd.DataFrame] = pd.read_html("https://www.w3schools.com/python/python_operators.asp")

df1

[  Operator            Name Example    Try it
 0        +        Addition   x + y  Try it »
 1        -     Subtraction   x - y  Try it »
 2        *  Multiplication   x * y  Try it »
 3        /        Division   x / y  Try it »
 4        %         Modulus   x % y  Try it »
 5       **  Exponentiation  x ** y  Try it »
 6       //  Floor division  x // y  Try it »,
    Operator        Example         Same As    Try it
 0         =          x = 5           x = 5  Try it »
 1        +=         x += 3       x = x + 3  Try it »
 2        -=         x -= 3       x = x - 3  Try it »
 3        *=         x *= 3       x = x * 3  Try it »
 4        /=         x /= 3       x = x / 3  Try it »
 5        %=         x %= 3       x = x % 3  Try it »
 6       //=        x //= 3      x = x // 3  Try it »
 7       **=        x **= 3      x = x ** 3  Try it »
 8        &=         x &= 3       x = x & 3  Try it »
 9        |=         x |= 3       x = x | 3  Try it »
 10       ^=         x ^= 3       x = x ^ 3  Try it »
 11      >>=        x >>= 3      x = x >> 3  Try it »
 12      <<=        x <<= 3      x = x << 3  Try it »
 13       :=  print(x := 3)  x = 3 print(x)  Try it »,
   Operator                      Name Example    Try it
 0       ==                     Equal  x == y  Try it »
 1       !=                 Not equal  x != y  Try it »
 2        >              Greater than   x > y  Try it »
 3        <                 Less than   x < y  Try it »
 4       >=  Greater than or equal to  x >= y  Try it »
 5       <=     Less than or equal to  x <= y  Try it »,
   Operator                                        Description  \
 0      and           Returns True if both statements are true
 1       or      Returns True if one of the statements is true
 2      not  Reverse the result, returns False if the resul...

                  Example    Try it
 0       x < 5 and x < 10  Try it »
 1         x < 5 or x < 4  Try it »
 2  not(x < 5 and x < 10)  Try it »  ,
   Operator                                        Description     Example  \
 0       is  Returns True if both variables are the same ob...      x is y
 1   is not  Returns True if both variables are not the sam...  x is not y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                                        Description     Example  \
 0       in  Returns True if a sequence with the specified ...      x in y
 1   not in  Returns True if a sequence with the specified ...  x not in y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                  Name  \
 0        &                   AND
 1        |                    OR
 2        ^                   XOR
 3        ~                   NOT
 4       <<  Zero fill left shift
 5       >>    Signed right shift

                                          Description Example    Try it
 0              Sets each bit to 1 if both bits are 1   x & y  Try it »
 1         Sets each bit to 1 if one of two bits is 1   x | y  Try it »
 2    Sets each bit to 1 if only one of two bits is 1   x ^ y  Try it »
 3                               Inverts all the bits      ~x  Try it »
 4  Shift left by pushing zeros in from the right ...  x << 2  Try it »
 5  Shift right by pushing copies of the leftmost ...  x >> 2  Try it »  ,
                                Operator  \
 0                                    ()
 1                                    **
 2                              +x -x ~x
 3                              * / // %
 4                                   + -
 5                                 << >>
 6                                     &
 7                                     ^
 8                                     |
 9   == != > >= < <= is is not in not in
 10                                  not
 11                                  and
 12                                   or

                                           Description    Try it
 0                                         Parentheses  Try it »
 1                                      Exponentiation  Try it »
 2            Unary plus, unary minus, and bitwise NOT  Try it »
 3   Multiplication, division, floor division, and ...  Try it »
 4                            Addition and subtraction  Try it »
 5                       Bitwise left and right shifts  Try it »
 6                                         Bitwise AND  Try it »
 7                                         Bitwise XOR  Try it »
 8                                          Bitwise OR  Try it »
 9     Comparisons, identity, and membership operators  Try it »
 10                                        Logical NOT  Try it »
 11                                                AND  Try it »
 12                                                 OR  Try it »  ]

In [40]:
df1[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [41]:
df: list[pd.DataFrame] = pd.read_json("https://www.w3schools.com/python/pandas/data.js")

df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [42]:
import pandas as pd
import pandera.pandas as pa

# data to validate

df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ['value_1', 'value_2', 'value_3', 'value_2', 'value_1']
})

# define schema
schema = pa.DataFrameSchema({
    'column1': pa.Column(int, checks=pa.Check.le(10)),
    'column2': pa.Column(float, checks=pa.Check.lt(-1.2)),
    'column3': pa.Column(str, checks=[
        pa.Check.str_startswith('value_'),
        
        # defines custom checks as functions that take a series as input 
        # and outputs a boolean or boolean Series
        
        pa.Check(lambda s: s.str.split('_', expand=True).shape[1] == 2)
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

In [43]:
dir(pa.check)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__getstate__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__type_params__']

In [44]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

## Slicing and Indexing

* series_variable[index]
* DataFrame
    * loc
    * iloc
    * at
    * iat

In [46]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5])

display(s1)

print("Applying Silicing")

display(s1[1])   # index

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying Silicing

2

In [47]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5])

display(s1)

print("Applying Silicing")

display(s1[1:4])   # index

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying Silicing

1    2
2    3
3    4
dtype: int64

In [49]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5])

display(s1)

print("Applying Silicing")

display(s1.iloc[1:4])   # index location (numbers) same as numpy silicing

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying Silicing

1    2
2    3
3    4
dtype: int64

In [54]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

display(s1)

print("Applying Silicing")

display(s1.iloc[1:4])   # index location (numbers) same as numpy silicing

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying Silicing

b    2
c    3
d    4
dtype: int64

In [55]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

display(s1)

print("Applying Silicing")

display(s1.loc["a": "d"])   # index location (label) end included

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying Silicing

a    1
b    2
c    3
d    4
dtype: int64

In [56]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

display(s1)

print("Applying Silicing")

display(s1.iat[1])   # index location (number) extract one cell value and you can update it.

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying Silicing

2

In [ ]:
s1: pd.Series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

display(s1)

print("Applying Silicing")

display(s1.at['d'])   # index location (label) extract one cell value and you can update it.

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying Silicing

4

In [66]:
x: str = """
20:03:10 From Dr. Ghulam Shabbir to Everyone:
	AoA Honorable Sir Qasim Sb. Stay blessed always iA.
20:03:41 From M Qasim to Everyone:
	sir aj payare lag rahy hy
20:04:02 From Dr. Ghulam Shabbir to Everyone:
	Fantastic
20:04:06 From jhon wick to Qasim(CGAIO)(Direct Message):
	sir aj zia khan sir ne nahi ana
20:04:37 From jhon wick to Everyone:
	Reacted to "sir aj payare lag ra..." with 😂
20:04:44 From M Qasim to Everyone:
	Reacted to "sir aj payare lag ra..." with 😂
20:04:54 From M Qasim to Everyone:
	Removed a 😂 reaction from "sir aj payare lag ra..."
20:04:56 From M Qasim to Everyone:
	Reacted to "sir aj payare lag ra..." with 😂
20:04:57 From M Qasim to Everyone:
	Removed a 😂 reaction from "sir aj payare lag ra..."
20:06:04 From Abdullah to Everyone:
	sir ap kal ki class me ni ayen gy kia??
20:06:04 From M Qasim to Everyone:
	Sir Faisalabad b a rahy hy kya ap?
20:06:49 From Yasir to Everyone:
	Sir generative ai ki class online b hogi na?????
20:07:17 From Sheikh Hamza to Everyone:
	Sir data analytics ke liye maths statistics and probability ani chaye??
20:07:24 From Yasir to Everyone:
	Replying to "Sir generative ai ki..."
	
	@Ikhlas Bhojani PLease ask from sir?
20:07:57 From Ikhlas Bhojani to Everyone:
	Replying to "Sir generative ai ki..."
	
	ok wait
20:08:52 From Dr. Ghulam Shabbir to Everyone:
	Sir Qasim Sb. You were frequently discussed and were given honored and salute in our today's class at Islamabad. Dr. Ghulam Shabbir
20:09:12 From STONE to Everyone:
	Reacted to "Sir Qasim Sb. You we..." with 👍
20:09:15 From Hatif Humayun to Everyone:
	Reacted to "Sir Qasim Sb. You we..." with 👍
20:09:19 From Dr. Ghulam Shabbir to Everyone:
	Reacted to "Sir Qasim Sb. You we..." with 👍
20:09:27 From STONE to Everyone:
	Removed a 👍 reaction from "Sir Qasim Sb. You we..."
20:09:33 From STONE to Everyone:
	Reacted to "Sir Qasim Sb. You we..." with 👍
20:09:34 From STONE to Everyone:
	Removed a 👍 reaction from "Sir Qasim Sb. You we..."
20:12:02 From Amanat Wattoo to Everyone:
	Pd kia convention h
20:12:20 From Amanat Wattoo to Everyone:
	Ya koi or be naam de skte hn
20:12:33 From farhan to Everyone:
	Convention hey
20:12:50 From KifayatUllah to Everyone:
	screen is not visible to me, may be network issue or something else
20:14:16 From Rehan Alı WAKKAS to Everyone:
	Import pandas as pd and import pandora as pa.
	What is pd and pa ?
20:14:28 From farhan to Everyone:
	Just names
20:15:06 From Ikhlas Bhojani to Everyone:
	koi question ho tw hand raise kriyea jese i moka milega me unmute krdonga
20:15:41 From Talha to Everyone:
	Replying to "Import pandas as pd ..."
	
	Alias, instead of writing long words pandas and pandora, we can write pd and pa as their short form
20:15:45 From Rehan Alı WAKKAS to Everyone:
	@Ikhlas Bhojani  
	Import pandas as pd and import pandora as pa.
	What is pd and pa ?
20:16:25 From Ikhlas Bhojani to Everyone:
	Replying to "@Ikhlas Bhojani  
	Im..."
	
	alias
20:16:43 From Jazil Hashmi to Everyone:
	Import pandas could not be resolved from source. Why is this error coming? @Ikhlas Bhojani
20:16:55 From Ikhlas Bhojani to Everyone:
	Replying to "@Ikhlas Bhojani  
	Im..."
	
	like nick name
20:17:36 From Ikhlas Bhojani to Everyone:
	!pip install pandas
20:17:46 From Rehan Alı WAKKAS to Everyone:
	Replying to "@Ikhlas Bhojani  
	Im..."
	
	Do they refer to Directories or what ?
20:19:58 From Abdullah to Everyone:
	Pandas is usually imported under the pd alias. alias: In Python alias are an alternate name for referring to the same thing. Create an alias with the as keyword while importing: import pandas as pd. Now the Pandas package can be referred to as pd instead of pandas .
20:20:30 From farhan to Everyone:
	These are nicknames used by community
20:25:02 From ahsan rasheed to Everyone:
	Mary kush lectures rah gy hain
20:25:15 From ahsan rasheed to Everyone:
	Kia ya lecture record ho rhy hain
20:25:23 From ABDUL KHALIQ to Everyone:
	g
20:25:26 From ABDUL KHALIQ to Everyone:
	youtube
20:25:31 From ABDUL KHALIQ to Everyone:
	panaverse dao
20:25:48 From ahsan rasheed to Everyone:
	Thanks
20:26:30 From Kamran Ahmed to Everyone:
	tabular form in panada
20:26:46 From Sarwar Faridi to Everyone:
	TABULAR
20:26:54 From Sarwar Faridi to Everyone:
	2D
20:26:57 From Kamran Ahmed to Everyone:
	index value also shown
20:27:06 From Ahmed Siddiqui to Everyone:
	matrix
20:27:07 From Kamal Hassan to Everyone:
	series men indexing h or tabular form mn h
20:29:56 From Kaleem to Everyone:
	sir series ma duplicate values bhi dy kar daikhain!!
20:35:09 From Zeeshan Abbas to Everyone:
	Sir what is INT64
20:37:19 From Ikhlas Bhojani to Everyone:
	koi question he tw hand raise krke rakhen
20:37:51 From Zeeshan Abbas to Everyone:
	mera question hai what is INT64
20:38:04 From Abdullah to Everyone:
	smj e ni aya 
	repeat krwa dyen
20:39:23 From Altaf Hussain to Everyone:
	Just like Chart of accounts in Accounting...
20:39:44 From Ahmed Siddiqui to Everyone:
	Reacted to "Just like Chart of a..." with 👍
20:40:40 From hi to Everyone:
	what is int 64
20:40:45 From hi to Everyone:
	dtype: int 64
20:40:54 From Zeeshan Abbas to Everyone:
	Sir why is showing INT64 in below
20:40:58 From Ikhlas Bhojani to Everyone:
	Replying to "mera question hai wh..."
	
	type hoti he data ki
20:42:24 From Kaleem to Everyone:
	in our structure data types of data we use key, value /key, pair values to define our data, how to translate that data Series?
20:42:27 From Asif Ali Shaikh to Everyone:
	int 64 is memory
20:42:44 From Asif Ali Shaikh to Everyone:
	Web3
20:45:11 From Zeeshan Abbas to Everyone:
	Reacted to "Web3" with 👍
20:46:15 From Galaxy to Everyone:
	Sir g account udaar dy dy
20:46:25 From Galaxy to Everyone:
	Reacted to Sir g account udaar ... with "😂"
20:46:40 From Ayesha Arshad to Everyone:
	Reacted to "Sir g account udaar ..." with 😂
20:46:40 From Ayesha Arshad to Everyone:
	Removed a 😂 reaction from "Sir g account udaar ..."
20:46:41 From jhon wick to Everyone:
	Reacted to "Sir g account udaar ..." with 😂
20:46:43 From Ayesha Arshad to Everyone:
	Reacted to "Sir g account udaar ..." with 😂
20:46:54 From Taif Ullah to Everyone:
	is bing equal to gpt 4
20:49:29 From fahad rasheed to Everyone:
	2 dimension data hy pora select krna parhyga "" mn
20:49:29 From Azfar Suhail to Everyone:
	from nptyping import DataFrame as DF, Structure as S
	
	s2 : DF[S["Abc : str"]] = pd.Series(['a','b','c','d','e'])
	s2
20:49:29 From Azfar Suhail to Everyone:
	this is working
20:51:57 From Saboor Hussain to Everyone:
	Reacted to "Sir g account udaa..." with 😂
20:51:59 From Saboor Hussain to Everyone:
	Removed a 😂 from "Sir g account udaa..."
20:58:40 From jhon wick to Everyone:
	yes
20:59:04 From farhan to Everyone:
	Kindly unmute
20:59:22 From Ikhlas Bhojani to Everyone:
	Replying to "Kindly unmute"
	
	wait
21:00:43 From PIAIC80919 Muhammad Asad to Everyone:
	Assalamu Aliakum
21:01:33 From Faizan Hassan to Everyone:
	s1.name kar k kar saktay hon ge
21:01:43 From PIAIC80919 Muhammad Asad to Everyone:
	I joined late on zoom meet so kindly share links that sir share until now
21:02:26 From Taif Ullah to Everyone:
	Replying to "I joined late on zoo..."
	
	every thing will be on github
21:04:19 From PIAIC80919 Muhammad Asad to Everyone:
	Numpy aur Pandas kay liya sir nay koi book share ki hai kay nahi
21:04:42 From Amanat Wattoo to Everyone:
	Replying to "Numpy aur Pandas kay..."
	
	no
21:05:21 From PIAIC80919 Muhammad Asad to Everyone:
	aur python kay liya koi alag WhatsApp group hai to please uska b link share kardien
21:06:00 From Amanat Wattoo to Everyone:
	Replying to "aur python kay liya ..."
	
	no koi group nhi bnia h
21:07:17 From Abdullah to Everyone:
	upper array wala code knsa ha??
21:07:51 From Hamza to Everyone:
	"Shape", "Shape"
21:08:10 From Hamza to Everyone:
	"Size", "Size"
21:08:26 From SheikhMAqib to Everyone:
	Double coat
21:08:33 From Azfar Suhail to Everyone:
	Shape turtle se import kara hai
21:08:51 From Azfar Suhail to Everyone:
	shape nptyping se import nhi howa
21:09:34 From Muhammad Uzair to Everyone:
	shape galat import ha
21:09:35 From Khadija Zahid to Everyone:
	shape ko kindly ek br explain kr den dbra
21:09:38 From PIAIC80919 Muhammad Asad to Qasim(CGAIO)(Direct Message):
	Assalamu Aliakum Sir Kindly sir mujhe bta dien k Data Science kay liya Math aur Statistic kay kon si books and courses hum karien
21:09:50 From Yasir to Everyone:
	shape import
21:09:53 From Yasir to Everyone:
	missing
21:09:56 From Muhammad Uzair to Everyone:
	from import typing shape
21:10:11 From Saboor Hussain to Everyone:
	sir
21:10:19 From Saboor Hussain to Everyone:
	aap nptyping se shape ko import karen
21:10:21 From Yasir to Everyone:
	import nhi kia shape
21:10:24 From farhan to Everyone:
	Shape import nahi thi
21:10:25 From Azfar Suhail to Everyone:
	turtle se import kara hai
21:14:10 From sadia to Everyone:
	can we get values 0 1 2 3 4 5 6 7 8 in vertical, abhi data horizontal arha hai
21:18:10 From Faiz M to Everyone:
	Sir chezy hard sy hard hoti ja rahe hy. aaj tho sir k oper oper ja raha hy.
21:18:56 From Qasim(CGAIO) to Everyone:
	https://www.w3schools.com/python/pandas/data.js
21:19:20 From Khadija Zahid to Everyone:
	html wala b ek br code dekha k bta de plz
21:19:22 From Abdullah to Everyone:
	kindly class k bd groups me sessions ka link send kr dia kryen
21:21:27 From Abdullah to Everyone:
	Replying to "kindly class k bd gr..."
	
	@Ikhlas Bhojani
21:22:11 From Ahmed Siddiqui to Everyone:
	what if data size in millions, what kind of preprocessing is required before handing over to pandas?
21:22:41 From Ikhlas Bhojani to Everyone:
	Replying to "kindly class k bd gr..."
	
	me ap logo ke group me nhi hn
21:22:59 From Abdullah to Everyone:
	Replying to "kindly class k bd gr..."
	
	bro sir sy kah dyen 
	ya sir Imran sy request kr dyen
21:24:13 From Ikhlas Bhojani to Everyone:
	Replying to "html wala b ek br co..."
	
	pd.read_html("url")
21:26:02 From Kaleem to Everyone:
	how to make identical data ?
21:26:19 From Afifa Dar to Everyone:
	colmn3 k chexk me ==2 se kya horaha ?
21:29:40 From PIAIC80919 Muhammad Asad to Qasim(CGAIO)(Direct Message):
	sir assignment b day dein practice kay liya
21:32:29 From Ali Zar FSD to Everyone:
	sliding
21:32:41 From Ali Zar FSD to Everyone:
	likha gya sir
21:33:00 From fahad rasheed to Everyone:
	sir thora data large kryn plx
21:33:18 From fahad rasheed to Everyone:
	for slicing thora data bardhae
21:39:55 From raheela to Everyone:
	Name is tort ???
21:40:46 From Naveed Delattre to Everyone:
	it’s toad
21:41:45 From Altaf Hussain to Everyone:
	PIAIC-173738
21:41:51 From Hamza to Everyone:
	PIAIC-201785
21:41:52 From jhon wick to Everyone:
	piaic 223880
21:41:54 From Hina Zargham to Everyone:
	PIAIC101499
21:41:54 From Hatif Humayun to Everyone:
	PIAIC-52822
21:41:54 From Ahmed Siddiqui to Everyone:
	PIAIC123456
21:41:56 From Arif Najmi to Everyone:
	125657
21:42:00 From Rehan Baig - PIAIC73919 to Everyone:
	PIAIC73919
21:42:00 From STONE to Everyone:
	ZAM - 786
21:42:01 From M. Waheed Iqbal (PIAIC_126369) to Everyone:
	PIAIC_126369
21:42:03 From . to Everyone:
	PIAIC210905
21:42:06 From ABDUL KHALIQ to Everyone:
	PIAIC-604031
21:42:11 From Arshad Siddiqui to Everyone:
	PIAIC120702
21:42:13 From Ali Zar FSD to Everyone:
	PIaic 223972
21:42:13 From Azfar Suhail to Everyone:
	PIAIC218333
21:42:14 From Kamran Ahmed to Everyone:
	PIAIC139495
21:42:18 From Ahmed to Everyone:
	216511
21:42:20 From Ayesha Arshad to Everyone:
	PIAIC-225620
21:42:25 From Kamal Hassan to Everyone:
	PIAIC58320
21:42:29 From Ahmed to Everyone:
	PIAIC-2165111
21:42:30 From Kaleem to Everyone:
	PIAIC:001100
21:42:34 From Arif Najmi to Everyone:
	PIAIC 125657
21:42:35 From Yasir to Everyone:
	PIAIC63502
21:42:37 From Ahmed to Everyone:
	PIAIC-216511
21:42:41 From Ali to Everyone:
	PIAIC76588
21:42:46 From M Qasim to Everyone:
	PIAIC178397
21:42:55 From Dr. Ghulam Shabbir to Everyone:
	PIAIC208889
21:42:59 From IMRAN to Everyone:
	PIAIC216423
21:43:04 From PIAIC80919 Muhammad Asad to Qasim(CGAIO)(Direct Message):
	PIAIC80919
21:43:04 From Ahmed to Everyone:
	PIAIC-216511
21:43:16 From Kamal Hassan to Everyone:
	PIAIC,58321
21:43:29 From Zeeshan Abbas to Everyone:
	PIAIC221479
21:43:43 From Amanat Wattoo to Everyone:
	PIAIC174651
21:44:12 From Ahsan to Everyone:
	PIAIC185091
21:44:26 From Amanat Wattoo to Everyone:
	@Ikhlas Bhojani bhai chat ko save kaisy save krwia h
21:45:09 From Ikhlas Bhojani to Everyone:
	Replying to "@Ikhlas Bhojani bhai..."
	
	neeche three dot se
21:46:20 From Ikhlas Bhojani to Everyone:
	Replying to "@Ikhlas Bhojani bhai..."
	
	Jahan msg likhte hen uske neeche three dot he
21:46:30 From Amanat Wattoo to Everyone:
	Replying to "@Ikhlas Bhojani bhai..."
	
	ok find thanks
21:47:27 From Amanat Wattoo to Everyone:
	Replying to "@Ikhlas Bhojani bhai..."
	
	found
"""

# import re

# patterns: str = r"""
# (\d{2}:\d{2}:\d{2}) From (.*) to Everyone:
#     (PIAIC-? ?\d{5,6})
# """

# data: list[list[str]] = re.findall(patterns, x)

# data

import re 

patterns : str = r'''
(\d{2}:\d{2}:\d{2}) From (.*) to Everyone:
	(PIAIC-? ?\d{5,6})
'''

data : list[list[str]] = re.findall(patterns, x)

data

[('21:41:45', 'Altaf Hussain', 'PIAIC-173738'),
 ('21:41:54', 'Hina Zargham', 'PIAIC101499'),
 ('21:41:54', 'Ahmed Siddiqui', 'PIAIC123456'),
 ('21:42:00', 'Rehan Baig - PIAIC73919', 'PIAIC73919'),
 ('21:42:03', '.', 'PIAIC210905'),
 ('21:42:11', 'Arshad Siddiqui', 'PIAIC120702'),
 ('21:42:13', 'Azfar Suhail', 'PIAIC218333'),
 ('21:42:20', 'Ayesha Arshad', 'PIAIC-225620'),
 ('21:42:34', 'Arif Najmi', 'PIAIC 125657'),
 ('21:42:37', 'Ahmed', 'PIAIC-216511'),
 ('21:42:46', 'M Qasim', 'PIAIC178397'),
 ('21:42:59', 'IMRAN', 'PIAIC216423'),
 ('21:43:04', 'Ahmed', 'PIAIC-216511'),
 ('21:43:29', 'Zeeshan Abbas', 'PIAIC221479'),
 ('21:44:12', 'Ahsan', 'PIAIC185091')]

In [67]:
df: pd.DataFrame = pd.DataFrame(data, columns=["Time", "Name", "Role Number"])

df

        Time                     Name   Role Number
0   21:41:45            Altaf Hussain  PIAIC-173738
1   21:41:54             Hina Zargham   PIAIC101499
2   21:41:54           Ahmed Siddiqui   PIAIC123456
3   21:42:00  Rehan Baig - PIAIC73919    PIAIC73919
4   21:42:03                        .   PIAIC210905
5   21:42:11          Arshad Siddiqui   PIAIC120702
6   21:42:13             Azfar Suhail   PIAIC218333
7   21:42:20            Ayesha Arshad  PIAIC-225620
8   21:42:34               Arif Najmi  PIAIC 125657
9   21:42:37                    Ahmed  PIAIC-216511
10  21:42:46                  M Qasim   PIAIC178397
11  21:42:59                    IMRAN   PIAIC216423
12  21:43:04                    Ahmed  PIAIC-216511
13  21:43:29            Zeeshan Abbas   PIAIC221479
14  21:44:12                    Ahsan   PIAIC185091

https://docs.python.org/3/library/re.html